<html lang="en" xmlns:th="http://www.thymeLeaf.org" th:replace= "~{base::Layout(~{::section})}">
	<head>
		<title> </title>
	</head>
<body>
   	<section>
		
		<div class="container mt-5 p-5">
			  <div class="row">
				<div class="col-md-6 p-5">
					<img src="img/profile_img/login_img.jpg" width="100%" height="410px">
				</div>
				<div class="col-md-6 mt-1 p-5">
				  <div class="card shadow p-3 mb-5 bg-body-tertiary rounded">
					<div class="card-header">
						<p class="fs-4 text-center">Reset Password</p>
						
						<th:block th:if="${session.succMsg}"> 
							<p class="text-success fw-blod text-center">[[${session.succMsg}]]</p>
							<th:block th:text ="${@commonServiceImpl.removeSessionMessage()}"></th:block>
						</th:block>
						
						
						<th:block th:if="${session.errorMsg}"> 
							<p class="text-danger fw-blod text-center">[[${session.errorMsg}]]</p>
							<th:block th:text ="${@commonServiceImpl.removeSessionMessage()}"></th:block>
						</th:block>
												
					</div>
					
			<!------form start-------->
			
					<div class="card-body">
						<form action="/reset-password" method="post" id="resetPassword" novalidate>
							<div classs="mb-3">
								<label class="form-Label p-1">New Password</label>
								<input class="form-control" name="password" type="password">
							</div>
							
							<div classs="mb-3">
								<label class="form-Label p-1">Confirm Password</label>
								<input name="confirmPassword" class="form-control" type="password">
							</div>
							<br>
							<input type="hidden" th:value="${token}" name="token">
							<button type="submit" class="btn bg-primary text-white col-md-12">Reset Password</button>
						</form>
                    </div>
			<!--------form ends---------->
				</div>
			</div>
		</div>
	</div>

	
	</section>
</body>
</html>